:root {
  --accent-color: #2196F3;
  --main-color: #212121;
  --add-color: #757575;
  --add-white: #FFFFFF;
  --main-bg-color: #2F303A;
}
.white {
  font-weight: 900;
}
.stars-title {
  font-weight: 700;
}
    

